<template name="marketing"> 
     <div class="container marketing">


      <!-- START THE FEATURETTES -->

    

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">ABC Cleaning Company. </h2>
          <p class="lead">Born and ready to clean</p>
          <p class="lead">
             ABC will take care of all your cleaning needs
          
          </p>
            <p class="lead">You live your life, we keep it clean
          </p>
        </div>
        <div class="col-md-5">
         <a href="/service">
          <img src="/image/cleaningman.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </a>
        </div>
      </div>

   

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Instant Service</h2>
          <p class="lead">From a tiny studio apartment in Brooklyn to commercial spaces in the city, we make sure everything is clean. </p>
          <p class="lead">Wheter you need instant service or service on a schedule, we got you</p>

        </div>
        <div class="col-md-5 col-md-pull-7">
          <a href="/onetime">
          <img src="/image/cleaningmanmachine.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </a>
        </div>
      </div>

      <!-- <hr class="featurette-divider"> -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Automate your services</h2>
          <p class="lead">Manage your account via app</p>
          <p class="lead">Get real-time updates on your selected service</p>
          <p class="lead">Book cleaning services for multiple addresses or as a s gift for others</p>
          <p class="lead">Set up reoccuring service and never have to worry again</p>
        </div>
        <div class="col-md-5">
         <a href="/onetime">
          <img src="/image/cleaningmanvacum.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </a>
        </div>
      </div>

      </div>
</template>
