.featurette-image {
    width: 100%;        
    border: 1px solid;
}

.featurette-heading{
    margin-top: 0 !important;
}

.row.featurette{
    margin-bottom: 56px;
}

.marketing h2 {
    font-weight: normal;
    font-size: 50px;
}

.marketing h2 + p ~ p{
    color:#43516B;
    font-size:27px;
}

.marketing .lead {
    font-size: 33px;
    }
