.onetime input{
    display: block;
    width: 100%;
    padding: 15px 8px;
    /* margin-bottom: 20px; */
    margin: 10px auto;
}

.onetime {
    padding: 0 10px;
    text-align: center;
}

.onetime img{
    margin-bottom: 10px;
}

#ui-datepicker-div{
    position: absolute !important;
    top: 283.1875px !important;
    left: 22px !important;
    z-index: 1 !important;
  
}