<template name="onetime">
  <div class="onetime">
        <h2>
            Where would you like your Cleaning Service?
        </h2>
       	<form>
        	<input id="zip-code" placeholder="what is your zipcode?"/>
        	<input id="street-address" placeholder="what is your street address"/>
            <input id="ontime-serviceDate" placeholder="Enter date you want service in MM/DD/YYYY format"/> 
        </form>
       
        <p class="lead">
         <strong>ABService </strong>
        </p>
        <img src="/image/cleaningman.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        <p class="lead">
           Need an emergency cleaning, we are at your service. 
        </p>
       
        <p class="lead">
          If your request is made after that time, then we may not be able to come out until the next day
        </p>

       
        <a class="btn btn-primary btn-lg active" href="/checkout">Confirm</a>
        
    </div>

</template>


